.about {
  margin-bottom: 100px;
  
  .subtitle {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 28px;
  }
}
.about__list {
  .reset();
  list-style: none;
}
.about__item {
  margin-bottom: 24px;
}
.about__icon {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
.about__block {
  margin-top: -84px;
  padding: 30px;
  padding-top: 88px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.05);
  
  p {
    margin: 0;
  }
}
//------------------------------------------
@media(min-width: 640px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__item {
    width: 270px;
    margin-bottom: 14px;
  }
  .about {
    margin-bottom: 86px;
  }
  .about__block {
    height: ~"calc(100% - 84px)";
  }
}
//------------------------------------------
@media(min-width: 960px) {
  .about__item {
    width: 410px;
    margin-bottom: 23px;
  }
  .about .subtitle {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
  }
  .about__block {
    height: ~"calc(100% - 72px)";
  }
  .about {
    margin-bottom: 77px;
  }
}
//------------------------------------------
@media(min-width: 1024px) {
  .about__item {
    width: 422px;
  }
}
//------------------------------------------
@media(min-width: 1280px) {
  .about__item {
    width: 252px;
    margin-left: 12px;
    margin-right: 12px;
  }
  .about__list {
    justify-content: center;
    margin-left: -12px;
    margin-right: -12px;
  }
  .about .subtitle {
    margin-bottom: 46px;
  }
  .about {
    margin-bottom: 73px;
  }
}
//------------------------------------------
@media(min-width: 1440px) {
  .about__item {
    width: 282px;
  }
  .about__icon {
    width: 170px;
  }
  .about__block {
    padding-bottom: 10px;
  }
  .about {
    margin-bottom: 153px;
  }
}
//------------------------------------------
@media(min-width: 1600px) {
  .about__item {
    width: 302px;
  }
  .about {
    margin-bottom: 149px;
  }
}
//------------------------------------------
@media(min-width:1920px) {
  .about__block {
    font-size: 16px;
    line-height: 26px;
  }
}