.benefits {
  padding-top: 96px;
  padding-bottom: 68px;
  background-color: rgba(255,255,255,0.05);
}
.benefits__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 0.1em;
  color: #8A7FA8;
  font-family: "Bebas Neue", "Arial", sans-serif;
}
.benefits__list {
  .reset();
  counter-reset: myCounter;
  list-style-type: none;
  
  li {
    position: relative;
    margin-bottom: 34px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px dashed #8A7FA8;
    
    &::before {
      counter-increment: myCounter;
      content: "//0" counter(myCounter);
      display: block;
      font-weight: 700;
      font-size: 44px;
      line-height: 1;
      letter-spacing: 0.1em;
      color: #FF3BED;
      font-family: "Bebas Neue", "Arial", sans-serif;
    }
    &:nth-child(2)::before {
      color: #DB43F3;
    }
    &:nth-child(3)::before {
      color: #B34AF9;
    }
    &:nth-child(4)::before {
      color: #8952FF;
    }
  }
}
//------------------------------------------
@media(min-width: 640px) {
  .benefits__title {
    font-size: 90px;
    letter-spacing: 9px;
  }
  .benefits__list {
    padding-left: 94px;
  }
  .benefits__list li {
    &::before {
      position: absolute;
      top: 0;
      left: -94px;
    }
  }
}
//------------------------------------------
@media(min-width: 960px) {
  .benefits__title {
    margin-bottom: 48px;
    font-size: 135px;
    letter-spacing: 13.5px;
  }
  .benefits__list li {
    padding-bottom: 40px;
    margin-bottom: 30px;
    
    &::before {
      top: -5px;
    }
  }
}
//------------------------------------------
@media(min-width: 1024px) {
  .benefits__title {
    font-size: 139px;
    letter-spacing: 13.9px;
  }
}
//------------------------------------------
@media(min-width: 1280px) {
  .benefits__title {
    margin-bottom: 52px;
    font-size: 174px;
    letter-spacing: 17.4px;
  }
  .benefits__list li {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 30px;
  }
  .benefits {
    padding-top: 113px;
    padding-bottom: 84px;
  }
}
//------------------------------------------
@media(min-width: 1440px) {
  .benefits {
    padding-top: 143px;
    padding-bottom: 116px;
  }
  .benefits__title {
    letter-spacing: 19.2px;
    font-size: 192px;
  }
}
//------------------------------------------
@media(min-width: 1600px) {
  .benefits__title {
    letter-spacing: 20.6px;
    font-size: 206px;
    margin-bottom: 63px;
  }
  .benefits__list li {
    font-size: 22px;
    line-height: 32px;
  }
}