.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #8A7FA8;
  background-color: rgba(10, 6, 18, 0.5);
  
  p {
    margin-top: 0;
    margin-bottom: 30px;
    
    a {
      display: block;
    }
  }
}
//------------------------------------------
@media(min-width: 960px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer p a {
    display: inline;
  }
  .footer p {
    margin-bottom: 0;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
//------------------------------------------
@media(min-width: 1024px) {
  .footer {
    font-size: 16px;
    line-height: 1.2;
  }
}
//------------------------------------------
@media(min-width: 1440px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}