.form {
  width: 100%;
}
.form__field {
  position: relative;
  margin-bottom: 32px;
}
.form__error {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  color: #FF3BED;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
}
.form__input,
.form__message {
  display: block;
  width: 100%;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  border-bottom: 2px solid #8A7FA8;
  background-color: rgba(255,255,255,0);
  
  &::placeholder {
    color: #8A7FA8;
    opacity: 0.6;
  }
  &:focus {
    border-color: #fff;
  }
}
.form__message {
  resize: none;
}
.form__input {
  &:invalid {
    border-color: #FF3BED;
  }
}
.form__btn {
  position: relative;
  width: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(90deg, #FF3BED 0%, #8952FF 100%);
  }
  &:hover,
  &:active {
    background: linear-gradient(90deg, #FF3BED 0%, #8952FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    
    &::before {
      opacity: 0;
    }
  }
}
.form__privacy {
  display: block;
  width: 170px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
//------------------------------------------
@media(min-width: 1280px) {
  .form__line {
    display: flex;
    justify-content: space-between;
    
    .form__field {
      width: 48.5%;
    }
  }
  .form__field {
    margin-bottom: 84px;
  }
  .form__input, 
  .form__message {
    height: 64px;
    font-size: 20px;
  }
  .form__message {
    padding-top: 20px;
  }
  .form__btn {
    width: 235px;
    margin-top: 107px;
    margin-bottom: 70px;
    padding-bottom: 12px;
    font-size: 42px;
  }
  .form__privacy {
    width: 100%;
    font-size: 16px;
    color: #8A7FA8;
    text-decoration-line: underline;
    
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
  .form__error {
    font-size: 14px;
  }
}