.modal {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  text-align: center;
  background: #19112F;
  
  .fancybox-close-small {
    padding: 0;
  }
  .logo {
    margin-bottom: 52px;
  }
}
.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue", "Arial", sans-serif;
}
//------------------------------------------
@media(min-width: 960px) {
  .modal {
    padding-left: 60px;
    padding-right: 60px;
  }
}
//------------------------------------------
@media(min-width: 1024px) {
  .modal {
    padding-left: 80px;
    padding-right: 80px;
  }
}